## ALIASSES
# alias dennis.vos1 Dennis Vos <dennis.vos1@telenet.be>
alias benny Benny Didion <benny@txt-ibis.be>
alias dieter Dieter Oosterbaan <dieter@easy-m.be>
alias 'Chantal Nelis' Chantal Nelis <Chantal_Nelis@diamed.com>
